extends ../template/admin_layout

block main_content
  div.row
    div.col-md-7  
      if (message.length != 0)
        p.bg.bg-success= message
      form(action='/admin/user_management', method='POST')
        .form-group
          input(type='text', name='title', class='form-control', placeholder='Title',required)
        .form-group
          textarea.form-control(rows='4', name='description', placeholder='Session Description....', required)
        .form-group
          select.form-control(name='type', id='session-type', onchange='changeSessionContent()', required)
            option(value='', disabled, selected, hidden) Sesstion type ?
            option(value='words') Words
            option(value='sentences') Sentences
            option(value='paragraph') Short paragraph
            option(value='speech') Free speech

        .form-group
          textarea.form-control(rows='8', name='content', placeholder='Session Content....', id='session-content', required)
        button(class='btn btn-lg btn-primary btn', type='submit') Submit
