extends ../template/user_layout

block main_content
  div.container
    if (recording)
      div.page-header
        h1= recording.title
      div.row
        div.col-md-3
          div.list-group(id='items')
            each item in recording.content
              a.list-group-item(href=`#${item}`)= item
        div.col-md-9
          div.panel.panel-default
            div.panel-body
              div.text-center
                h2#word-title
                canvas.visualizer
              div.row.text-center
                div.col-md-3.col-md-offset-1
                  a.btn-control#btn-back
                    i.fa.fa-backward.fa-4x
                div.col-md-4
                  a.btn-control#btn-play
                    i.fa.fa-play.fa-4x
                div.col-md-3
                  a.btn-control#btn-next
                    i.fa.fa-forward.fa-4x
              div.text-center
                button.btn.btn-primary#rec(onclick='onBtnRecordClicked()') Record
                button.btn.btn-primary#pauseRes(onclick='onPauseResumeClicked()' disabled) Pause
                button.btn.btn-primary#stop(onclick='onBtnStopClick()' disabled) Stop
                div.sound-clips
                br
                p#errorMsg
                p#data


      //- div.well
      //-   ul
      //-     li
      //-       h3 Description
      //-       p= recording.description
      //-     li
      //-       h3 Type
      //-       p= recording.type.toUpperCase()
      //-     li
      //-       h3 Content
      //-       ul
      //-         each item in recording.content
      //-           li= item
      //-     li
      //-       h3 Added Date
      //-       p= moment(recording.createdAt).format("YYYY-MM-DD")
      //-     li
      //-       h3 Last Modified Date
      //-       p= moment(recording.updatedAt).format("YYYY-MM-DD")

    else
      p No recording found


  script(src='https://cdn.webrtc-experiment.com/RecordRTC.js')
  script(src='/javascripts/recorder.js')
