extends ../template/user_layout

block main_content
  div.container
    if (recording)
      div.page-header
        h1= recording.title
      div.panel.panel-default
        div.panel-body
          p
            strong Description:
            = recording.description
          p
            strong Type:
            = recording.type
    else
      p No recording found



  //- .row
  //-   div.col-md-6.col-md-offset-3
  //-     h2.text-center Recording System Demo
  //-     div.text-center
  //-       canvas.visualizer
  //-     div.text-center
  //-       button.btn.btn-primary#rec(onclick='onBtnRecordClicked()') Record
  //-       button.btn.btn-primary#pauseRes(onclick='onPauseResumeClicked()' disabled) Pause
  //-       button.btn.btn-primary#stop(onclick='onBtnStopClick()' disabled) Stop
  //-       button.btn.btn-primary#download(onclick='download()' disabled) Download
  //-       div.sound-clips
  //-       br
  //-       p#errorMsg
  //-       p#data
