extends template/layout

block content
  div.container
    div.row
      div.col-md-4.col-md-offset-4
        h1.text-center Log in
        if message
          h4.error-message.text-success #{message}
        form(action='/signin', method='POST')
          .form-group
            input(type='email', name='email', class='form-control', placeholder='Email',required, autofocus)
          .form-group
            input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
          button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
          span.clearfix
          a(href='/signup', class='text-center new-account') Create an account
