extends template/layout

block content
  div.container
    div.row
      div.col-md-6.col-md-offset-3
        h1.text-center Check your details below:
        ul.user-details
          li ID ---> #{user._id}
          li Username ---> #{user.email}
        a(href='/signout', class='text-center') Sign Out

    .row
      div.col-md-6.col-md-offset-3
        h2.text-center Recording System Demo
        div.text-center
          canvas.visualizer
        div.text-center
          button.btn.btn-primary#rec(onclick='onBtnRecordClicked()') Record
          button.btn.btn-primary#pauseRes(onclick='onPauseResumeClicked()' disabled) Pause
          button.btn.btn-primary#stop(onclick='onBtnStopClick()' disabled) Stop
          button.btn.btn-primary#download(onclick='download()' disabled) Download
          div.sound-clips
          br
          p#errorMsg
          p#data

  script(src='/javascripts/recorder.js')
