extends ../template/layout

block content
  div.container
    div.row(id='signin-signup-wrapper')
      div.col-md-8.col-md-offset-2
        div.panel.panel-default(id='signin-signup-form')
          div.panel-body
            h1.text-center Registration Details
            if (message.length != 0)
              p.bg.bg-danger= message
            form(action='/signup', method='POST', id='signup-form')
              p.text-danger(align='left') *: required
              .form-group
                label Email
                  span.text-danger  *
                input(type='email', name='email', class='form-control', placeholder='Email',required)
              .form-group
                label Username
                  span.text-danger  *
                input(type='text', name='username', class='form-control ', placeholder='Username', required)
              if (usernameMessage.length != 0)
                p.bg.bg-danger= usernameMessage
              .form-group
                label Password
                  span.text-danger  *
                input(type='password', name='password',id='password', class='form-control ', placeholder='Password', required)
              if (passwordMessage.length != 0)
                div.bg.bg-danger !{passwordMessage}
              .h2 Personal Information (Optional)
              .form-group
                label Full Name
                input(type='text', name='fullname', class='form-control ', placeholder='What is your name ?')
              .form-group
                label Gender
                select.form-control(name='gender')
                  option(value='', disabled, selected, hidden) What is your gender ?
                  option(value='Male') Male
                  option(value='Female') Female
                  option(value='Prefer not to say') Prefer not to say
              .form-group
                label Date of Birth
                input(type='date', name='date_of_birth', class='form-control ', placeholder='What is your date of birth ?')
              .form-group
                label Place of Birth
                input(type='text', name='place_of_birth', class='form-control ', placeholder='Where were you born ?')
              .form-group
                label First Language
                input(type='text', name='first_language', class='form-control ', placeholder='What is your first language ?')
              .form-group
                label Medical Condition
                textarea.form-control(rows='6', name='medical_condition', placeholder='What is your current medical condition ?')
                //- input(type='text', name='medical_condition', class='form-control ', placeholder='What is your current medical condition ?')
              button(class='btn btn-lg btn-primary g-recaptcha', data-sitekey="6LfHKBwUAAAAADeDJ5Z7x-cxx84ZWIQfJ4LsFHSy", data-callback='onSubmit', type='submit') Register
            br
            a.btn.btn-default(href='/signin') Sign in
