extends ../template/layout

block content
  div.container
    div.row(id='signin-signup-wrapper')
      div.col-md-6.col-md-offset-3
        div.panel.panel-default(id='signin-signup-form')
          div.panel-body
            h1.text-center Log in
            if (errorMessage.length != 0 )
              p.bg.bg-danger= errorMessage
            if (message.length != 0 )
              p.bg.bg-success= message  
            form(action='/signin', method='POST')
              .form-group
                label Email
                input(type='email', name='email', class='form-control', placeholder='Email',required, autofocus)
              .form-group
                label Password
                input(type='password', name='password', class='form-control', placeholder='Password', required)
              button(class='btn btn-lg btn-primary', type='submit') Sign in
            br
            div.row
              div.col-md-4
                a.btn.btn-default(href='#') Forgot password ?
              div.col-md-8
                a.btn.btn-default(href='/signup') Create an account
