footer.footer
  div.container
    div.row
      div.col-md-6
        h4 Online Recorder - The University of Sheffield
        p(style='font-size: 11px;') The webportal was developed by Nguyen Thanh Trung as part of the third year dissertation. If you have any question, please contact me at thanhtrung674@gmail.com | tnguyenthanh1@sheffield.ac.uk
