extends layout

block content
  include user_navbar
  div.container(style='margin-top: 40px;')
    noscript.bg.bg-danger
      strong It seems Javascript is disabled on your broswer. The webportal requires JavaScript enabled in order to work properly. 
  block main_content
